<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
      <%= f.text_field :name %>
  </div>
    <div class="field">
    <p style="display:none;">If you need to be a poster please ask an admin</p>
  </div>
  <div class="field">
    <p style="display:none;">If you need to be a moderator please ask an admin</p>
  </div>
  <div class="field">
    <p style="display:none;">If you need to be an admin, ask an admin</p>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <% if @user.password.nil? %>
      <%= f.password_field :password %>
    <% else %>
      <%= f.password_field :password, :value => @user.password %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
